.HeaderLabel{
    background-color: aqua;
    width: 100%;
    color: rgb(5, 84, 57);
}
.text{ color:  rgb(32, 32, 191);
    
  }
.fontf{font-family: 'Segoe UI';
    font-weight: bold;
}      
.bold{
  font-weight: bold;
  text-align: center;
  border:2px
}
.paddingforleft{
    padding-left: 10px;
    margin-left: 100px;
}
